{% extends 'orders/header.html' %} {% block content %}
<div class="container">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center" style="margin-top:20px;">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.925119493897!2d-7.636071699999999!3d33.58144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d3a6393fc621%3A0x8b61fdb8a5a91679!2sEMSI%20ROUDANI!5e0!3m2!1sen!2sma!4v1682339456789!5m2!1sen!2sma"
                        width="600" 
                        height="450" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="row justify-content-center" style="margin-top:20px;">
                    <ul>
                        <li>Located at EMSI Roudani Campus</li>
                        <li>Boulevard Mohammed VI, Casablanca, Morocco</li>
                        <li>Near Boulevard Roudani intersection</li>
                        <li>Parking available on premises</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}